<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name=".JiraAPI"/>
      <class name=".GetCall"/>
      <class name="Jan.Jira"/>
      <class name="Jan.DeleteCall"/>
      <class name=".HttpMethods"/>
      <class name="Jan.PostCall"/>
      <class name="Jan.GetCall"/>
      <class name="Jan.PutCall"/>
      <class name="Jan.JiraApi"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
